.Container{

	margin-left:  20px;
	margin-right: 20px;
	
}
h3{
	font-size: 40px;
}
h2{
	font-size: 25px;
}
h1{
	font-size: 60px;
}
.container-fluid{
	background-color: 	#ADD8E6;
	/*color: 	#000000;*/
	font-weight: bold;
	
}
.panel{
	background-color: #ADD8E6;
	color: 	#000000;
	font-weight: bold;
}
#xxx{
	color:black;
}
